<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <script>
        var a = 500;
        var b = 800;
        var c = 1000;

        var finalPrice;

        function getSelectedElements(val){
            const checkboxes = document.querySelectorAll('input[addExtras="${addExtras}"]:checked');
            
            // empty array for values
            let values = [];
            checkboxes.forEach((checkboxes) =>{
                values.push(checkboxes.value)
            });

            return values;

            document.getElementById("finalprice").innerHTML = "HELLO"
        }

        const btn = document.querySelector('#btn');
        btn.addEventListener('click', (event) => {
            alert('addExtras')
        })
    </script>


    <!-- This is a small box that does stuff -->
    <form class="allform"></form>
        <h3>This is a heading</h3>
        <p>
            <input class="option" type = "checkbox" name = "addExtras" value="500"> $500

            <input class="option" type = "checkbox" name = "addExtras" value="800"> $800

            <input class="option" type = "checkbox" name = "addExtras" value="1000"> $1000


            <button id="btn">Get value selected</button>
        </p>

        <h1 id ="finalprice">$0.00</h1>
    </form>

</body>
</html>